.image {
  width: 200px;
  height: 250px;
  border: 2px solid lightsteelblue;
  border-radius: 5px;
  /* padding-top: 5px; */
  margin: 10px;
}
.grid {
  background-color: rgb(87, 167, 241);
  border: 1px solid rgb(247, 142, 158);
  border-radius: 5px;
  margin: 10px;
}
